<p>templetedrivenfrom works!</p>
<form #login = "ngForm" (ngSubmit) = "user(login.value)">
        <mat-label>Name</mat-label>
        <mat-form-field>
        <input type = "text" required #name = "ngModel" pattern=[] name = "name" [ngModel]>
        <input type = "password" required  #password = "ngModel"pattern= [] name = "password" [ngModel]>
        </mat-form-field>
        <button mat-button> Login</button>
        <h3 *ngIf = "name.invalid&&name.touched"> Name Error</h3>
        <h3 *ngIf = "password.invalid && password.touched"> password Error</h3>

</form>
<span *ngIf = "login.invalid && login.touched ">form Is Invalid</span>